@*@model M10_W1_Assignment1_MockDB.ModelsDto.StudentDto*@
@model IEnumerable<M10_W1_Assignment1_MockDB.ModelsDto.StudentDto>

@{
    ViewData["Title"] = "StudentHTML";
}

<h1>StudentHTML</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stuID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.stuID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phoneNum)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
            }*@
    </tbody>
</table>
